{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

    {# En-tête de page #}
		<header role="banner"  class="header" >
			{% block header %}
					<a href="{{site.url}}" rel="home">{{site.name}}</a>

          {# Navigation du site #}
					<nav role="navigation" class="nav" id="nav">
						{% include "menu.twig" with {'items': menu.get_items} %}
					</nav>
			{% endblock %}
		</header>

    {# Contenu de la page #}
		<main role="main" class="main" id="content">
			{% if title %} <h1>{{title}}</h1> {% endif %}

      {# Injection des views #}
      {% block content %}
        Sorry, no content
      {% endblock %}

      {# Sidebar #}
			{% if sidebar %}
				<aside role="complementary" class="sidebar {{sidebar_class}}">
					{{sidebar}}
				</aside>
			{% endif %}
		</main>

    {# Pied de page #}
		{% block footer %}
			<footer role="contentinfo" class="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

	</body>
</html>
